<!-- Main Navigation Start-->
<nav class="main-navigation">
    <a href="index.html" title="Company Name" aria-label="Logo" class="logo">
        <img src="./assets/images/logo.png" alt="Company Name">
    </a>
    <ul>
        <li>
            <a href="dashboard" title="Dashboard" class="active">
                <img src="./assets/images/ic-dashboard-default.svg" class="default-icon" alt="Dashboard">
                <img src="./assets/images/ic-dashboard-active.svg" class="active-icon" alt="Dashboard">
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="innerpage" title="Orders">
                <img src="./assets/images/ic-orders-default.svg" class="default-icon" alt="Orders">
                <img src="./assets/images/ic-orders-active.svg" class="active-icon" alt="Orders">
                <span>Orders</span>
            </a>
        </li>
        <li>
            <a href="#" title="Statistics">
                <img src="./assets/images/ic-statistics-default.svg" class="default-icon" alt="Statistics">
                <img src="./assets/images/ic-statistics-active.svg" class="active-icon" alt="Statistics">
                <span>Statistics</span>
            </a>
        </li>
        <li>
            <a href="#" title="Products">
                <img src="./assets/images/ic-product-default.svg" class="default-icon" alt="Products">
                <img src="./assets/images/ic-product-active.svg" class="active-icon" alt="Products">
                <span>Products</span>
            </a>
        </li>
        <li>
            <a href="#" title="Offers">
                <img src="./assets/images/ic-offers-default.svg" class="default-icon" alt="Offers">
                <img src="./assets/images/ic-offers-active.svg" class="active-icon" alt="Offers">
                <span>Offers</span>
            </a>
        </li>
        <li>
            <a href="#" title="Settings">
                <img src="./assets/images/ic-settings-default.svg" class="default-icon" alt="Settings">
                <img src="./assets/images/ic-settings-active.svg" class="active-icon" alt="Settings">
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <a href="#" title="Contact us" class="bottom-link">
        <img src="./assets/images/ic-contact-default.svg" class="default-icon" alt="Contact us">
        <img src="./assets/images/ic-contact-active.svg" class="active-icon" alt="Contact us">
        <span>Contact us</span>
    </a>
</nav>
<div class="overlay" (click)="hideMenu()"></div>
<!-- Main Navigation End-->